<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SANAD</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/templatemo-topic-listing.css') }}" rel="stylesheet">
    </head>
    <body id="top">
        <main>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand"  href="{{ url_for('index') }}">
                        <!--<i class="bi-back"></i>-->
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="sanad" width="100">
                        <span>SANAD</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">Main Cases</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3">How To</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_4">FAQs</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_5">Contact</a>
                            </li>
                        </ul>
                        
                        <div class="d-none d-lg-block">
                                <a class="nav-link login-button"  href="{{ url_for('login') }}" >Login</a>
                        </div>
                    </div>
                </div>
            </nav>
            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-12 mx-auto">
                            <h1 class="text-white text-center">Sanad Society for Children with Special Needs</h1>
                            <h6 class="text-center">We Treat Your Kid With Love</h6>
                            <!-- <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search"> 
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text bi-search" id="basic-addon1">
                                    </span>
                                    <input name="keyword" type="search" class="form-control" id="keyword" placeholder="Design, Code, Marketing, Finance ..." aria-label="Search">
                                    <button type="submit" class="form-control">Search</button>
                                </div>
                            </form>-->
                        </div>
                    </div>
                </div>
            </section>
            <section class="featured-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                            <div class="custom-block bg-white shadow-lg">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="mb-2">Sanad Society</h5>
                                        <p class="mb-0">Your child is in safe hands.</p>
                                    </div>
                                </div>
                                <img src="{{ url_for('static', filename='images/2g8y7tw.jpg') }}" class="custom-block-image img-fluid" alt="">
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="custom-block custom-block-overlay">
                                <div class="d-flex flex-column h-100">
                                    <img src="{{ url_for('static', filename='images/child-adult-foster-care.jpg') }}" class="custom-block-image img-fluid" alt="">

                                    <div class="custom-block-overlay-text d-flex">
                                        <div>
                                            <h5 class="text-white mb-2">About Us</h5>

                                            <p class="text-white">Sanad Organization is a special place that helps kids with different needs. They give these children a safe and happy space to grow and learn. Sanad has programs made just for them, so they can become the best they can be. Families, teachers, and doctors all work together with Sanad to help these kids in every way they need. Sanad believes in including everyone, making sure no child feels left out. They’re like a big family, cheering on each child to succeed and be happy.</p>
                                        </div>
                                    </div>

                                    <div class="section-overlay"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="explore-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="mb-4" >Our Main Cases</h2>
                        </div>

                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Autism</h5>

                                                        <p class="mb-0">Autism is a developmental disorder characterized by challenges in social interaction, communication, and repetitive behaviors. Individuals with autism may have unique strengths and talents, and with the right support, they can thrive and lead fulfilling lives.</p>
                                                    </div>
                                                </div>
                                                <img src="{{ url_for('static', filename='images/Autism.png') }}" class="custom-block-image img-fluid" alt="">
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="custom-block bg-white shadow-lg">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Down Syndrome</h5>

                                                                <p class="mb-0">Down syndrome is a genetic condition. Individuals typically have distinct physical features and may experience varying degrees of developmental delays and intellectual disabilities. With specialized education, and support from their community, they can lead fulfilling lives and make meaningful contributions to society.</p>
                                                        </div>
                                                    </div>

                                                <img src="{{ url_for('static', filename='images/DS.png') }}" class="custom-block-image img-fluid" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">ADHD</h5>

                                                                <p class="mb-0">ADHD is a neurodevelopmental condition marked by difficulty in sustaining attention, hyperactivity, and impulsivity. With proper understanding and management strategies, individuals with ADHD can harness their energy and creativity to achieve success in various aspects of life.</p>
                                                        </div>

                                                    </div>

                                                <img src="{{ url_for('static', filename='images/ADHD.png') }}" class="custom-block-image img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="timeline-section section-padding" id="section_3">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="text-white mb-4">How To Deal With A Special Needs Child</h2>
                        </div>

                        <div class="col-lg-10 col-12 mx-auto">
                            <div class="timeline-container">
                                <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                                    <div class="list-progress">
                                        <div class="inner"></div>
                                    </div>

                                    <li>
                                        <h4 class="text-white mb-3">Understanding</h4>

                                        <p class="text-white">Take the time to understand the specific needs and challenges of the child. This involves educating yourself about their condition, communicating with healthcare professionals, and actively listening to the child and their caregivers.</p>
                                        <div class="icon-holder">
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <h4 class="text-white mb-3">Support</h4>

                                        <p class="text-white">Provide a supportive environment tailored to the child's needs. This may include accessing specialized services such as therapy, adaptive equipment, or educational accommodations. Additionally, offer emotional support and encouragement to the child and their family.</p>

                                        <div class="icon-holder">
                                        </div>
                                    </li>
                                    <li>
                                        <h4 class="text-white mb-3">Inclusion</h4>
                                        <p class="text-white">Promote inclusion and acceptance within the community. Encourage participation in activities that foster social interaction and provide opportunities for the child to learn and grow alongside their peers. Celebrate their achievements and advocate for their rights to ensure they have equal access to opportunities.</p>
                                        <div class="icon-holder">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="faq-section section-padding" id="section_4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <h2 class="mb-4">Frequently Asked Questions</h2>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-5 col-12">
                            <img src="{{ url_for('static', filename='images/faq_graphic.jpg') }}" class="img-fluid" alt="FAQs">
                        </div>

                        <div class="col-lg-6 col-12 m-auto">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What causes autism?
                                        </button>
                                    </h2>

                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Autism spectrum disorder is believed to have a complex mix of genetic and environmental factors. While the exact cause is not fully understood, research suggests that a combination of genetic predisposition and environmental influences during pregnancy and early childhood may contribute to the development of autism.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How can ADHD be managed without medication?
                                    </button>
                                    </h2>

                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Managing ADHD without medication involves implementing behavioral strategies, creating structured routines, and providing a supportive environment. This may include setting up clear expectations, breaking tasks into smaller steps, providing frequent reminders, and incorporating regular physical activity and healthy lifestyle habits. Additionally, therapies such as cognitive-behavioral therapy (CBT) and behavior therapy can be beneficial in teaching coping skills and self-regulation techniques.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            What are some common misconceptions about Down syndrome?

                                    </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            One common misconception about Down syndrome is that individuals with the condition are always happy or have a similar personality. While many individuals with Down syndrome have a positive outlook on life, they experience a range of emotions just like anyone else. Another misconception is that individuals with Down syndrome are unable to achieve or contribute meaningfully to society. In reality, with appropriate support and opportunities, many individuals with Down syndrome lead fulfilling lives, pursue education and employment, and make valuable contributions to their communities.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

<footer class="site-footer section-padding" id="section_5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mb-4 pb-2">
                        <a class="navbar-brand mb-2" >
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="sanad" width="100">
                            <span>SANAD</span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6">
                        <h6 class="site-footer-title mb-3">Resources</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#section_1" class="site-footer-link">Home</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#section_2" class="site-footer-link">Main Cases</a>
                            </li>
                            <li class="site-footer-link-item">
                                <a href="#section_3" class="site-footer-link">How To</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#section_4" class="site-footer-link">FAQs</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#section_5" class="site-footer-link">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Information</h6>

                        <p class="text-white d-flex mb-1">
                            <a href="tel: +970 595 883 338" class="site-footer-link">
                                +970 595 883 338
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <a href="mailto:sanad_society@yahoo.com" class="site-footer-link">
                                sanad_society@yahoo.com
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                        <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                            <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3391.662610048755!2d35.2189030151729!3d32.22186398110271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d94c1d146dabf%3A0x4b0429fa9a17be61!2sRafidia%2C%20Nablus!5e0!3m2!1sen!2sil!4v1621077689982!5m2!1sen!2sil"></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </footer>


        <!-- JAVASCRIPT FILES -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
        <script src="{{ url_for('static', filename='js/click-scroll.js') }}"></script>

    </body>
</html>
