<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Children</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
<nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="logo.png" alt="">
        </span>

        <div class="text logo-text">
          <span class="name">Sidebar</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">

        <li class="search-box"></li>

        <ul class="menu-links">
          <li class="nav-link">
            <a href="{{ url_for('parent_dashboard') }}">
              <i class='bx bx-home-alt icon'></i>
              <span class="text nav-text">Dashboard</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="{{ url_for('my_children') }}">
              <i class='bx bx-heart icon'></i>
              <span class="text nav-text">Children</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="{{ url_for('parent_payments') }}">
              <i class='bx bx-wallet icon'></i>
              <span class="text nav-text">Payments</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class='bx bx-bell icon'></i>
              <span class="text nav-text">Notifications</span>
            </a>
          </li>


        </ul>
      </div>

      <div class="bottom-content">
        <li class="">
          <a href="logout">
            <i class='bx bx-log-out icon'></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>

        <li class="mode">
          <div class="sun-moon">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
          </div>
          <span class="mode-text text">Dark mode</span>

          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li>

      </div>
    </div>
  </nav>

<section class="home">
    <br><br><br>
    <div class="frame">
        <div class="content">
            <div id="wrapper">
                <h1>My Children</h1>
                <table id="keywords" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>Child Name</th>
                            <th>Course Name</th>
                            <th>Reservation Days</th>
                            <th>Reservation Start Time</th>
                            <th>Specialist Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for child in children %}
                            <tr>
                                <td><a href="{{ url_for('child_profile', child_id=child['Child_ID']) }}">{{ child['Child_Name'] }}</a></td>
                                <td>{{ child['Course_Name'] }}</td>
                                <td>{{ child['Reservation_Days'] }}</td>
                                <td>{{ child['Reservation_Start_Time'] }}</td>
                                <td>{{ child['Specialist_Name'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script>
    const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");

    toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
    });

    searchBtn.addEventListener("click", () => {
        sidebar.classList.remove("close");
    });

    modeSwitch.addEventListener("click", () => {
        body.classList.toggle("dark");
        if (body.classList.contains("dark")) {
            modeText.innerText = "Light mode";
        } else {
            modeText.innerText = "Dark mode";
        }
    });
</script>
</body>
</html>
