<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  <title>Parent Profile</title>
</head>
<body>
<nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="logo.png" alt="">
        </span>

        <div class="text logo-text">
          <span class="name">Hi, {{parent.Parent_Name}}</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">

        <li class="search-box"></li>

        <ul class="menu-links">
          <li class="nav-link">
            <a href="{{ url_for('parent_dashboard') }}">
              <i class='bx bx-home-alt icon'></i>
              <span class="text nav-text">Dashboard</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="{{ url_for('my_children') }}">
              <i class='bx bx-heart icon'></i>
              <span class="text nav-text">Children</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="{{ url_for('parent_payments') }}">
              <i class='bx bx-wallet icon'></i>
              <span class="text nav-text">Payments</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class='bx bx-bell icon'></i>
              <span class="text nav-text">Notifications</span>
            </a>
          </li>


        </ul>
      </div>

      <div class="bottom-content">
        <li class="">
          <a href="logout">
            <i class='bx bx-log-out icon'></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>

        <li class="mode">
          <div class="sun-moon">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
          </div>
          <span class="mode-text text">Dark mode</span>

          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li>

      </div>
    </div>
  </nav>

  <main class="cd__main">
    <div class="profile-page">
      <div class="content">
        <div class="content__cover">
          <div class="content__avatar"></div>
          <div class="content__bull"><span></span><span></span><span></span><span></span><span></span>
          </div>
        </div>
        <br>

        <div class="content__title">
          <h1>{{ parent.Parent_Name }}</h1><span>Welcome Back</span>
        </div>
        <div class="content__description">
          <p>{{ parent.Email }}</p>
          <p>
            {% for contact in contact_list %}
              {{ contact }}<br>
            {% endfor %}
          </p>
        </div>
        <div class="content__button">
          <a class="button" href="{{ url_for('my_children') }}">
            <div class="button__border"></div>
            <div class="button__bg"></div>
            <p class="button__text">Show my Children</p>
          </a>

          <br>
          <br>
          <a class="button" href="{{ url_for('parent_payments') }}">
            <div class="button__border"></div>
            <div class="button__bg"></div>
            <p class="button__text">Show my Payments</p>
          </a>
        </div>
      </div>
      <div class="bg">
        <div><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
      </div>
    </div>
  </main>
<script>
    const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");
    toggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    })
    searchBtn.addEventListener("click", () => {
      sidebar.classList.remove("close");
    })
    modeSwitch.addEventListener("click", () => {
      body.classList.toggle("dark");
      if (body.classList.contains("dark")) {
        modeText.innerText = "Light mode";
      } else {
        modeText.innerText = "Dark mode";
      }
    });
  </script>
</body>
</html>
